<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    height: 200px;
	background-color: #4CAF50;
    color: white;
}
tr {
	height: 40px;
   }
td {
	height:1000px;

    }
</style>
</head>
<body>
<table align="center">
  <tr>
    <th><h1> my  job site</h1>
    <a href="" name="main">Home</a>&nbsp
	<a href="homepage" name="main1">Jobs</a></th>
  </tr>
  <tr>
    <td></td>

  </tr>



</table>
</body>
</html>